<div class="panel panel-default">
    <div class="panel-body">

        <div ng-init="getQuestions()">
            <ol>
                <li ng-repeat="question in questions">
                    <span>{{question.question | uppercase}}?</span>
                    <div ng-repeat="option in question.options">
                        <div class="radio">
                            <label>
                                <input type="radio" name="{{question.id}}" ng-model="question.selectedAnswer"
                                       value="{{option.id}}">
                                {{option.option | uppercase}}
                            </label>
                        </div>
                    </div>
                </li>
                <br>
            </ol>
        </div>

        <input type="button" ng-click="calculateScore()" value="Calculate Score" class="btn btn-primary" />
    </div>
</div>
