<table class="table table-striped table-hover"
	ng-show="cart.products.length>0">
	<thead>
		<tr>
			<th>#</th>
			<th>Product</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Total Price</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in cart.products">
			<th scope="row">{{$index+1}}</th>
			<td>{{product.name}}</td>
			<td>${{product.price}}</td>
			<td>{{product.quantity}}</td>
			<td>${{product.totalPrice}}</td>
			<td>
				<button class="glyphicon glyphicon-remove" style="cursor: pointer"
					value="X" ng-click="removeProduct(product)"></button>
			</td>
		</tr>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th>Total Price:</th>
			<th>${{cart.totalPrice}}</th>
		</tr>
	</tfoot>
</table>

<div class="container" ng-show="cart.products.length==0">
	<div class="row">
		<div class="jumbotron">
			<h1>Hello, There!!</h1>
			<p>You have nothing in your bag!! Let us go and add exclusive
				products in your bag.</p>
			<p>
				<a href="#" class="btn btn-primary btn-lg" role="button">Let's
					Do Shopping</a>
			</p>
		</div>
	</div>
</div>
