/* app css stylesheet */

body{
	color:#945f5f;
}
.navbar{
	border-radius: 0px;
}


.form-control {
    margin-top: 5px;
}

.gap5{
	margin-top:5px;
}

.padding-options{
	padding-top: 2px;
	padding-bottom: 2px;
}

.navbar-inverse{
	background-color: #263238;
    color: rgba(255,255,255,0.87);
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    padding: 0 24px;
    text-transform: uppercase;
    transition: all .3s;
}

.nav-border{
    border-top-color: #101010;
    border-top: 1px solid;
}

.navbar-inverse {
    color: #101010;
}

a {
    color: rgba(255,255,255,0.87);
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 22px;
        margin-top: 10px;
    }

    .page-header{
        margin-top:10px;
    }
}
