/* app css stylesheet */

body{
	color: #404142;
    font-family: 'Dosis', sans-serif;
}
.navbar{
	border-radius: 0px;
}


.form-control {
    margin-top: 5px;
}

.gap5{
	margin-top:5px;
}

.padding-options{
	padding-top: 2px;
	padding-bottom: 2px;
}

.navbar-inverse{
	background-color: #263238;
    color: rgba(255,255,255,0.87);
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    padding: 0 24px;
    text-transform: uppercase;
    transition: all .3s;
}

.nav-border{
    border-top-color: #101010;
    border-top: 1px solid;
}

.navbar-inverse {
    color: #101010;
}

a {
    color: rgba(255,255,255,0.87);
    text-decoration: none;
}

.feature {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 20px;
    border: 3px solid #f6f6f6;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.speaker-img {
        max-width: 28%;
    border: 4px solid #efefef;
    border-radius: 50%;
    vertical-align: middle;

}

.score {
    font-size: 2.8em;
    color: #dd5138;
    font-weight: 100;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 22px;
        margin-top: 10px;
    }

    .page-header{
        margin-top:10px;
    }

    .score {
    font-size: 1.5em;
    color: #dd5138;
    font-weight: 100;
}
}
